@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0; padding: 0;
  overflow-x: hidden;
}
body, body * {
  font-family: "Roboto";
}

.container{
  margin: 0 auto;
  width: 80%;
}
@media screen and (max-width: 480px) {
	.container{
  		width: 95%;
	}
}
@media screen and (min-width: 480px) {
	.container{
  		width: 90%;
	}
}
@media screen and (min-width: 700px) {
	.container {
		width: 80%;
	}
}

@media screen and (min-width: 1100px) {
	.container{
  		width: 85%;
	}
}
@media screen and (min-width: 1440px) {
	.container{
  		width: 1200px;
	}
}

@media only screen and (max-width: 1390px) {
	.hero__2-image {
		bottom: -20px;
	}
}
@media only screen and (max-width: 1100px) {
	.header__nav {
		margin-left: 40px;
	}
	.blog__item {
		margin-left: 0;
		margin-right: 0;
	}
	.blog__item p {
		width: 100%;
	}
	.blog {
		height: 1100px;
	}
}
@media only screen and (max-width: 320px) {
	.hero__title {
		font-size: 34px!important;
	}
}
@media only screen and (max-width: 768px) {
	.blog {
		height: 1700px;
	}
}
@media only screen and (max-width: 420px) {
	.blog {
		height: 1800px;
	}
}



.bg_liner1 {
	/* background-color: red; */
	background: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
}
.bg_liner2 {
	background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
}
.blog {
	background-image: url('./assets/images/additions/blog_bg.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.blog__image {
	box-shadow: 7px 20px 51px -11px rgba(41,158,243,0.71);

}
footer li {cursor: pointer;}